body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: var(--tg-theme-text-color);
  background: var(--tg-theme-bg-color);
}

.container {
  max-width: 390px;
}

.inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px 200px 200px;
}

.bucket-top {
  /* background: green; */
  padding: 10px 10px;
  font-size: 20px;
  font-family: Comfortaa;
  color: var(--tg-theme-text-color);
  background: var(--tg-theme-bg-color);
}

.editOrder {
  text-align: right;
  border: none;
  float: right;
  color: var(--tg-theme-text-color);
  background: rgba(176,125,43, 0.9);
  padding: 10px 15px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: Comfortaa;
}

.editOrder:hover {
  background: rgba(176,125,43, 0.7);  
}

.editOrder:active {
  background: rgba(176,125,43, 0.9); 
  
  transition: background .2s linear;
}

.img {
  position: relative;
  width: 130px;
}

.item {
  text-align: center;
}

.bucket {
  display: none;
  width: auto;
  height: auto;
  padding: 10px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background: #fff; /*var(--tg-theme-bg-color);*/

  transform: translateY(-150%);
  animation: bucketShowAnimation .3s forwards;
}

@keyframes bucketShowAnimation {
  0% {transform: translateY(-150%);}
  100% {transform: translateY(0);}
}

@keyframes bucketHideAnimation {
  0% {transform: translateY(0);}
  100% {transform: translateY(-150%);}
}

.counter {
  position: absolute;
  /* left: 130px; */
  /* width: 100%; */
  display: none;
  padding: 5px 10px;
  border: none;
  background: rgba(176,125,43, 0.9);
  border-radius: 20px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 1000;
  font-size: 14px;
  font-family: Arial;

  opacity: 0;
  animation: counterShowAnimation .2s forwards;
  /* transition: display .2s linear; */
}

@keyframes counterShowAnimation {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes counterHideAnimation {
  100% {opacity: 0;}
  0% {opacity: 1;}
}

.item-name {
  padding: -10px;
}

.item-price {
  font-weight: 600;
  font-family: Arial;
}

.btn-add {
  width: 35px;
  height: 35px;
}

.btn-rem {
  width: 35px;
  height: 35px;
}

.usercard {
  text-align: center;
}
/* 
var(--tg-theme-bg-color)
var(--tg-theme-text-color)
var(--tg-theme-hint-color)
var(--tg-theme-link-color)
var(--tg-theme-button-color)
var(--tg-theme-button-text-color)
*/