body {
  margin: 0;
  padding: 0;
  font-size: 18px;
  color: var(--tg-theme-text-color);
  background: var(--tg-theme-bg-color);
}

.container {
  max-width: 390px;
}

.inner {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 200px 200px 200px;
}

.img {
  position: relative;
  width: 130px;
}

.item {
  text-align: center;
}

.bucket {
  display: none;
}

.counter {
  position: absolute;
  /* left: 130px; */
  /* width: 100%; */
  display: none;
  padding: 5px 10px;
  border: none;
  background: rgba(176,125,43, 0.9);
  border-radius: 20px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 1000;
  font-size: 14px;
  font-family: Arial;

  transition: background .2s linear;
}

.item-name {
  padding: -10px;
}

.item-price {
  font-weight: 600;
  font-family: Arial;
}

.btn-add {
  width: 35px;
  height: 35px;
}

.btn-rem {
  width: 35px;
  height: 35px;
}

.usercard {
  text-align: center;
}
/* 
var(--tg-theme-bg-color)
var(--tg-theme-text-color)
var(--tg-theme-hint-color)
var(--tg-theme-link-color)
var(--tg-theme-button-color)
var(--tg-theme-button-text-color)
*/